@model IEnumerable<AppASM2.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="p-3 mb-2 bg-info text-dark"><center><h2>Profile: @item.UserName</h2></center></div>
    <table class="table table-bordered text-left">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <td>
                    @item.Id
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <td>
                    @item.Email
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <td>
                    @item.PhoneNumber
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <td>
                    @item.TwoFactorEnabled
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <td>
                    @item.EmailConfirmed
                </td>
            </tr>
            <tr>
                <th>
                    Others
                </th>
                <td>
                    Nothing to declare here...
                </td>
            </tr>
        </tbody>
    </table>
    <center>
        @Html.ActionLink("Edit Profile", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
    </center>
        }
