@model IEnumerable<AppASM2.Models.Class>

@{
    ViewBag.Title = "Index";
}
<div class="p-3 mb-2 bg-info text-dark"><center><h2>Index Class</h2></center></div><h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassId })
        </td>
    </tr>
}

</table>
